<%= form_with(model: employeemodel, local: true) do |form| %>
  <% if employeemodel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employeemodel.errors.count, "error") %> prohibited this employeemodel from being saved:</h2>

      <ul>
      <% employeemodel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :employeemodel_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age, id: :employeemodel_age %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :employeemodel_gender %>
  </div>

  <div class="field">
    <%= form.label :designation %>
    <%= form.text_field :designation, id: :employeemodel_designation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
